<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <appender name="dailyRollingFileAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>1</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%5level] %logger{35}[%method:%line] %m%n</pattern>
        </encoder>
    </appender>
<!--    <appender name="dailyCloudwatchAppender"-->
<!--              class="ca.pjer.logback.AwsLogsAppender">-->
<!--        <layout>-->
<!--            <pattern>[%thread] [%date] [%level] [%file:%line] - %msg%n</pattern>-->
<!--        </layout>-->
<!--        <logGroupName>test-log</logGroupName>-->
<!--        <logStreamUuidPrefix>cloudwatch-log-test-</logStreamUuidPrefix>-->
<!--        <logRegion>ap-northeast-2</logRegion>-->
<!--        <maxBatchLogEvents>50</maxBatchLogEvents>-->
<!--        <maxFlushTimeMillis>0</maxFlushTimeMillis>-->
<!--        <maxBlockTimeMillis>5000</maxBlockTimeMillis>-->
<!--        <retentionTimeDays>7</retentionTimeDays>-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>TRACE</level>-->
<!--        </filter>-->
<!--        <encoder>-->
<!--            <charset>UTF-8</charset>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] [%5level] %logger{35}[%method:%line] %m%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
    <root level="INFO">
        <appender-ref ref="dailyRollingFileAppender"/>
<!--        <appender-ref ref="dailyCloudwatchAppender"/>-->
    </root>
</configuration>