#header {
  width: 100%;
  height: 44px;
  // background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $green;

  p {
    font-size: $text-xl;
    font-weight: bold;
    letter-spacing: 3px;
  }
}
