.plan-container{
  margin:60px 90px 0;
  position:relative;
  height: calc(100vh - 110px);

  .plan-title{
    font-size: 20px;
    line-height: 27px;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    
    img {
      margin:0 10px;
    }
  }

  p{
    font-size:16px;
    line-height:22px;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
  }

  .plan-date{
    padding:10px;
    display:flex;
    align-items:center;

    input {
      margin-left: 10px;
      font-size:16px;
      line-height:22px;
    }
  }

  .plan-footer {
    position:absolute;
    bottom: 5%;
    display:flex;
    width: 500px;
    justify-content: space-between;

    button{
      padding: 10px 20px;
      border:1px solid $green;
      background-color:$green;
      border-radius:5px;

      &:hover{
        background-color:white;
        border: 1px solid $green;
      }
    }
  }
}