.plan-container {
  margin: 0px 0px 0;
  position: relative;
  height: calc(92vh);

  .plan-title {
    font-size: 20px;
    line-height: 27px;
    padding: 10px;
    border-bottom: 1px solid #dddddd;

    input{
      width: 100%;
    }
    img {
      margin: 0 10px;
    }
  }

  p {
    font-size: 16px;
    line-height: 22px;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
  }

  .plan-date {
    padding: 10px;
    display: flex;
    align-items: center;

    input {
      margin-left: 10px;
      font-size: 16px;
      line-height: 22px;
    }
  }

  .plan-footer {
    position: absolute;
    bottom: 0%;
    display: flex;
    width: 100%;
    justify-content: space-between;

    button {
      padding: 10px 10px;
      margin: 0px 5px 0px 10px;
      border: 1px solid $green;
      background-color: $green;
      border-radius: 5px;
      width: 100%;

      &:hover {
        background-color: white;
        border: 1px solid $green;
      }
    }
  }
}
