.plan{
    width:100%;
    background-color: $gray;
    border-radius: 10px;
    min-height:80px;
    padding:2.5vh;

    .plan-head{

        border-bottom: 2px solid gray;
        padding-bottom: 1vh;
        display: flex;
        flex-direction: row;
        min-height:3vh;
        font-size:2.2vh;

        #name{
            width: 100%;
            text-align: left;
            margin:auto;
            font-size:2vh;
            font-weight:900;
            p{
                // margin-left: 10px;
                font-size:1.2vh;
                // display: inline;
            }
        }

        #checkinDate,#departLocation{
            width:40%;
            text-align: left;
            margin:auto;
            font-weight:900;
            p{
                font-size:1.2vh;
            }
        }
        #progress-ico{
            width:20%;
            text-align: center;
            margin:auto;
            font-weight:900;
        }
        #checkoutDate,#arriveLocation{
            width:40%;
            text-align: right;
            margin:auto;
            font-weight:900;
            p{
                font-size:1.2vh;
            }
        }
        
    }

    .plan-contents{
        padding-top:15px;

        table{
            width:100%;
            margin-bottom: 2vh;

            th{
                width:33%;
                font-size: 1.7vh;
                text-align: left;
                font-weight: 600;
                padding-bottom: 1px;
            }
            td{
                font-size: 1.4vh;
            }
        }
    }
}

.etc{
    background-color: rgb(253, 224, 204);
}