#selected-country-wrapper {
  padding: 2vh 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;

  .selected-country {
    display: flex;
    align-items: center;

    span {
      cursor: pointer;
      font-size:2vh;
      font-weight: bold;
    }

    #plane-img {
      width: 2vh;
      height: 2vh;
      margin: 0 1.5vh;
    }
    &:last-of-type > #plane-img {
      display: none;
    }
  }
}
