.text-sm {
  font-size: $text-sm;
}
.text-md {
  font-size: $text-sm;
}
.text-lg {
  font-size: $text-lg;
}
.text-xl {
  font-size: $text-xl;
}

.plus-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  &.orange {
    background-color: $orange;
    color: #fff;
  }

  &.green{
    background-color: $green;
    color:#fff;
  }

  &.gray {
    background-color: #aaa;
  }

  #plus-button-img{
    width: 2rem;
    height: 2rem;
  }
}

.submit-button {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.1vh;

  background-color: $green;
  color: #fff;

  // &.yellow {
  //   background-color: $yellow;
  // }
  // &.green {
  //   background-color: $green;
  //   color: #fff;
  // }
}


.summit-footer {
  position: inherit;
  bottom: 0%;
  margin-top:1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  button {
      width: 100%;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 3px;
      font-weight: bold;
      font-size: 2rem;
      letter-spacing: 0.1vh;
      margin: 0px 1rem 0px 1rem;


      background-color: $green;
      color: #fff;

      &:hover {
          background-color: $lite-green;
          border: 1px solid $green;
      }
  }

  &.white-style{

    button{
      border: 1px solid $gray;
      background-color: white;
      color: $green;
      margin:0;
    }
  }
}