.text-sm {
  font-size: $text-sm;
}
.text-md {
  font-size: $text-sm;
}
.text-lg {
  font-size: $text-lg;
}
.text-xl {
  font-size: $text-xl;
}

.plus-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;

  &.orange {
    background-color: $orange;
    color: #fff;
  }

  &.green{
    background-color: $green;
    color:#fff;
  }

  &.gray {
    background-color: #aaa;
  }

  #plus-button-img{
    width: 2rem;
    height: 2rem;
  }
}

.submit-button {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.8rem;

  background-color: $green;
  color: #fff;

  // &.yellow {
  //   background-color: $yellow;
  // }
  // &.green {
  //   background-color: $green;
  //   color: #fff;
  // }
}
