.text-sm {
  font-size: $text-sm;
}
.text-md {
  font-size: $text-sm;
}
.text-lg {
  font-size: $text-lg;
}
.text-xl {
  font-size: $text-xl;
}

.plus-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;

  &.orange {
    background-color: $orange;
    color: #fff;
  }
  &.gray {
    background-color: #aaa;
  }
}

.submit-button {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  // font-size: $text-lg;

  background-color: $green;
  color: #fff;

  // &.yellow {
  //   background-color: $yellow;
  // }
  // &.green {
  //   background-color: $green;
  //   color: #fff;
  // }
}
